@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

#root {
    --dark: #282a36;
    --white: #f8f8f2;
    --green: #50fa7b;
    --pink: #ff79c6;
    --blue: #383a59;
    --gray: #44475a
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

.App {
    background-color: var(--blue);
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
}

 /* SCREEN LAYOUT */

.body {
    margin-top: 1em;
    overflow: scroll;
    display: flex;
    justify-content: center;
}
.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
}

/* PAGES */

.UserList {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 1em;
    justify-self: center;
    overflow: scroll;
}
.UserPage {

}
.Listone {

}

/* COMPONENTS*/

/* Usercards */
.UserCard {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: var(--dark);
    border-radius: 15px;
    padding: 0.8em 0.5em;
}
.last{margin-bottom: 0.5em}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-img {
    width: 50px;
    height: 50px;
    filter: invert(11%) sepia(10%) saturate(1596%) hue-rotate(194deg) brightness(96%) contrast(86%);
}
.UserCard-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    gap: 0.4em;
}
.info-name{
    margin: 0;
    color: var(--white);
    font-size: 1.3em;
}
.info-dish-container{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    overflow: scroll;
}

.dish-el{
    padding: 0.2em 0.5em;
    font-size:  1.1em;
    width: min-content;
    white-space: nowrap;
    border-radius: 25px;
    background-color: var(--green);
    color: var(--dark);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTONS */
.icon-add {
    width: min-content;
    padding: 0.8em 0.5em;
    font-size:  1.4em;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 15px;
    background-color: var(--pink);
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btn {
    background-color: var(--green);
    color: var(--dark);
    font-weight: bold;
    border-radius: 15px;
    padding: 0.4em 1em;
}