@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

#root {
    --dark: #282a36;
    --white: #f8f8f2;
    --green: #50fa7b;
    --pink: #ff79c6;
    --blue: #383a59;
    --gray: #44475a;
    --red: #ff5555;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

input{
    border-radius: 8px;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: 1.2em;
    max-width: 50%;
}

a {
    text-decoration: none;
    color: inherit
}

.App {
    background-color: var(--blue);
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
}

/* GENERAL */

.icon-confirm,
.icon-cancel {
    width: 25px;
    height: 25px;
    padding: 0.3em 0.3em;
    font-size: 1.1em;
    white-space: nowrap;
    border-radius: 50%;
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-confirm{
    background-color: var(--green);
}
.icon-cancel{
    background-color: var(--red);
}

 /* SCREEN LAYOUT */

.body {
    margin-top: 1em;
    overflow: scroll;
    display: flex;
    justify-content: center;
}
.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 7px 7px 0 0;
}

/* PAGES */

.UserList {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
    justify-self: center;
    overflow: scroll;
}
.UserPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5em;
}
.Listone {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    align-items: center;
}

/* COMPONENTS*/

/* Usercards */
.UserCard {

    display: grid;
    grid-template-columns: 25% 75%;
    background-color: var(--dark);
    border-radius: 15px;
    padding: 0.8em 0.5em;
}
.last{margin-bottom: 0.5em}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-img {
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(3%) saturate(7432%) hue-rotate(342deg) brightness(114%) contrast(93%);
}
.UserCard-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    gap: 0.4em;
}
.info-name{
    margin: 0;
    color: var(--white);
    font-size: 1.3em;
}
.info-dish-container{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    overflow: scroll;
}

.dish-el{
    padding: 0.2em 0.5em;
    font-size:  1.1em;
    width: min-content;
    white-space: nowrap;
    border-radius: 25px;
    background-color: var(--green);
    color: var(--dark);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Userpage */

/* userpage header */
.header{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commands{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user-info-container{

}



/* Userpage dishes */

.dishList{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    overflow: scroll;
}
.dishCard{
    display: flex;
    min-width: 190px;
    padding: 0.5em 0;
    width: 30%;
    align-items: center;
    gap: 0.3em;
    background-color: var(--dark);
    border-radius: 15px;
}
.dish{
    padding: 0.3em 0.55em;
    font-size:  1.5em;
    width: min-content;
    white-space: nowrap;
    border-radius: 15px;
    color: var(--white);
    font-weight: 600;
    display: grid;
    grid-template-columns: 40% 10% 50%;
    align-items: center;
    justify-content: center;
}
.x{
    color: var(--white);
}
.qnt{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn-plus,
.btn-minus{
    height: 25px;
    width: 25px;
    font-size: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.btn-plus{
    color: var(--green);
    border: 2px solid var(--green)

}
.btn-minus{
    color: var(--red);
    border: 2px solid var(--red)
}


.newCard{
    width: 100%;
    display: flex;
    padding: 1em 0;
    justify-content: space-around;
    background-color: var(--dark);
    border-radius: 15px;

}
.UserPage .newCard{
    width: 85%;
    display: flex;
    justify-content: space-around;
}

/* Listone */

.listone-header{
    width: 90%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: end;

}

.listone-container{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

/* BUTTONS */
.button-add {
    width: min-content;
    padding: 0.3em 0.5em;
    font-size:  1.4em;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 15px;
    background-color: var(--pink);
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-dish {
    padding: 0.5em 0.7em;
}

.footer-btn {
    background-color: var(--green);
    color: var(--dark);
    font-weight: bold;
    border-radius: 15px;
    padding: 0.4em 1em;
}

.button {
    background-color: transparent;
    border-radius: 7px;
    color: var(--pink);
    padding: 0.15em 1em;
    font-size: 1em;
}
.button-delete {
    border: 2px solid var(--red);
    color: var(--red);
}
.button-back {
    border: 2px solid var(--pink);
    color: var(--pink);
}
.button-save {
    border: 2px solid var(--green);
    color: var(--green);
}


/*
@media screen and (min-width: 600px) {
    .UserPage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        gap: 1.5em;
    }
}
*/